extends layout/app

block page 
    include chunk/header

    h1.title Главная страница
    

  
    img(src='img/main_photo.jpg', alt="Main photo", width="500")

    p Привет! Это моя версия сборки Gulp, надеюсь она Вам пригодится. 
    p С уважением, Александр Мешков 

    ul.news 
        each item in news 
            li= item.name

    include chunk/footer
